.card {
    width: 100%;
    max-width: 400px;
    height: 100px;
    background-color: rgb(55, 46, 46);
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px black, 2px 2px 20px black;
    border-radius: 10px;
    transition: all 0.4s;
    flex-shrink: 0;
    padding: 10px;
}

.card:hover {
    box-shadow: 2px 2px 10px rgb(50, 224, 187), 2px 2px 20px rgb(50, 224, 187);
}

.card h1 {
    background: linear-gradient(to right, rgb(146, 244, 244), white);
    background-clip: text;
    color: transparent;

}

.hovercard img {
    height: 60%;
    filter: drop-shadow(2px 2px 10px black);
    transform: translateY(15%);

}

.hovercard {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(78, 163, 238, 0.523), rgba(0, 0, 0, 0.185));

    position: absolute;
    transform: translateY(100%);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
}

.card:hover .hovercard {
    transform: translateY(0%);
    top: 0;
    transition: all 0.9s;
}