nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    text-transform: uppercase;
    z-index: 20;
    background-color: rgb(21, 24, 26);


}

nav ul a {
    cursor: pointer;
}

nav ul a:hover,
.active {
    color: rgb(133, 244, 244);
    border-bottom: 2px solid white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 20px;

}

ul li {
    list-style: none;
}

nav h1 {
    font-size: 30px;
    background: linear-gradient(to right, rgb(146, 244, 244), white);
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: none;

}

.ham {
    width: 40px;
    height: 2px;
    background-color: antiquewhite;
    transition: all 0.5s;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 80px;
    background-color: rgba(21, 24, 26, 0.109);
    backdrop-filter: blur(7px);
    right: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    gap: 40px;
}

@media (max-width:750px) {
    .desktop-menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }

}

.mobile-view {
    transform: translateX(0%);
}

/* cross hamburger toggle  */
.active-ham .ham:nth-child(1) {

    transform: rotate(45deg);
    position: relative;
    top: 8px;

}

.active-ham .ham:nth-child(2) {
    opacity: 0;
}

.active-ham .ham:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -15px;
}