#home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;

}

.lefthome {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.righthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.righthome img {
    width: 60%;
    filter: drop-shadow(2px 2px 20px rgba(116, 202, 225));

}

.homedetails {
    font-size: 2vmax;
    text-transform: uppercase;

}

.line1 {
    font-size: 0.8em;

}

.line2 {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(146, 244, 244), white);
    background-clip: text;
    color: transparent;
}

.line3 {
    font-size: 1em;
}

.homedetails button {
    background-color: rgb(146, 244, 244);
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid rgb(146, 244, 244);
    font-size: 20px;
    margin-top: 20px;

}

.homedetails button:hover {
    background: transparent;
    color: white;
    transition: all 0.5s;
}

@media (max-width:750px) {
    #home {
        margin-top: 20px;
        flex-direction: column-reverse;
align-items: center;
justify-content: center;

    }

    .lefthome{ width: 100%;
        height: 50vh;}
    .righthome {
        width: 100%;
        height: 50vh;
        align-items: end;
    }

}