#about {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.leftabout {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.cricle-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cricle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #7ad7ea;
    filter: drop-shadow(2px 2px 10px #7ad7ea);
}

.line {
    width: 2px;
    height: 120px;
    background-color: antiquewhite;
}

.aboutdetails {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.aboutdetails h1 {
    background: linear-gradient(to right, rgb(224, 108, 108), white);
    background-clip: text;
    color: transparent;
}

.aboutdetails li {
    color: white;

}

.aboutdetails span {
    color: #7ad7ea;
}

.rightabout {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    padding: 20px;
}

@media (max-width:750px) {
    #about {
        margin-top: 50px;
        padding: 29px;
        display: flex;
        justify-content: center;
        
        align-items: center;
        font-size: 12px;
        flex-direction:
            column;
        
    }

    .leftabout {
        width: 100%;
        height: 50vh;
    }

    .rightabout {
        margin-top: 120px;
        width: 100%;
        height: 50vh;
    }
}