#contact {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;

}


#contact img {
    width: 30%;
    filter: drop-shadow(2px 2px 10px rgb(80, 207, 227));

}

.rightabout {
    width: 50%;
    padding: 20px;

}

.rightabout form {
    width: 500px;
    padding: 30px;
    height: 400px;
     background-color: rgb(55, 46, 46);
    text-align: center;
    display: flex;
    gap: 10px;
   border-radius: 10px;
    flex-direction: column;
    justify-content: center;


}

form input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    border: none;
      margin-top: 10px;
}
 form textarea {
    width: 100%;
    height: 150px;
     border-radius: 10px;
    padding: 10px;
    outline: none;
    border: none;
      margin-top: 10px;
 }.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
 }
  form button{
    width: 100px;
    padding: 4px;
    background-color: skyblue;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s;

  }
   form button:hover{
    background: transparent;
    border: 2px solid black;
    color: #fff;
   }
  form:hover{
     box-shadow: 2px 2px 10px rgb(50, 224, 187), 2px 2px 20px rgb(50, 224, 187);
  }

  @media (max-width:750px) {
    #contact{
        flex-direction: column;

    }
   .rightabout form{
    width: 350px;
    height: 390px;
    margin-bottom: 50px;

    }
    
  }